spring:
  application:
    name: summit-lab-spring-music
  main:
    allow-bean-definition-overriding: true
  jpa:
    generate-ddl: true
    show-sql: true
  cloud:
    kubernetes:
      secrets:
        enabled: false
      config:
        enabled: false

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
  info:
    git:
      mode: full

logging:
  level:
    root: WARN
    com.redhat.springmusic: DEBUG

server:
  error:
    include-exception: true
    include-stacktrace: always
