<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <pluginGroups>
    <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
  </pluginGroups>

  <profiles>
    <profile>
      <id>sonar</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <sonar.login>admin</sonar.login>
        <sonar.password>admin</sonar.password>
      </properties>
    </profile>

    <profile>
      <id>def</id>
      <repositories>
        <repository>
          <id>central</id>
          <name>Central Repository</name>
          <url>https://repo.maven.apache.org/maven2</url>
          <layout>default</layout>
        </repository>
      </repositories>

      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <name>Central Repository</name>
          <url>https://repo.maven.apache.org/maven2</url>
          <layout>default</layout>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
        </pluginRepository>
      </pluginRepositories>
    </profile>

    <!-- Profile with online repositories required by Fuse -->
    <profile>
      <id>fis-online-repos</id>
      <repositories>
        <repository>
          <id>jboss-ga-repository</id>
          <url>https://maven.repository.redhat.com/ga</url>
          <releases>
            <enabled>true</enabled>
          <updatePolicy>daily</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          <updatePolicy>daily</updatePolicy>
          </snapshots>
        <name>Red Hat GA</name>
        </repository>
        <repository>
          <id>jboss-public-repository</id>
          <url>https://repository.jboss.org/nexus/content/repositories/public/</url>
          <releases>
            <enabled>true</enabled>
          <updatePolicy>daily</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          <updatePolicy>daily</updatePolicy>
          </snapshots>
        <name>JBoss Public</name>
        </repository>
        <repository>
            <id>jboss-fuse-repository</id>
            <name>Red Hat JBoss Fuse repository (all)</name>
            <url>https://repo.fusesource.com/nexus/content/groups/public/</url>
            <layout>default</layout>
            <releases>
                <enabled>true</enabled>
                <updatePolicy>never</updatePolicy>
            </releases>
            <snapshots>
                <enabled>false</enabled>
                <updatePolicy>never</updatePolicy>
            </snapshots>
        </repository>
        <repository>
          <id>jboss-early-access-repository</id>
          <url>https://maven.repository.redhat.com/earlyaccess/all/</url>
          <releases>
            <enabled>true</enabled>
          <updatePolicy>daily</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          <updatePolicy>daily</updatePolicy>
          </snapshots>
        <name>JBoss Early Access</name>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>jboss-ga-repository</id>
          <url>https://maven.repository.redhat.com/ga</url>
          <releases>
            <enabled>true</enabled>
          <updatePolicy>daily</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          <updatePolicy>daily</updatePolicy>
          </snapshots>
        <name>Red Hat GA</name>
        </pluginRepository>
        <pluginRepository>
          <id>jboss-public-repository</id>
          <url>https://repository.jboss.org/nexus/content/repositories/public/</url>
          <releases>
            <enabled>true</enabled>
          <updatePolicy>daily</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          <updatePolicy>daily</updatePolicy>
          </snapshots>
        <name>JBoss Public</name>
        </pluginRepository>
        <pluginRepository>
            <id>jboss-fuse-plugin-repository</id>
            <name>Red Hat JBoss Fuse Plugin repository (all)</name>
            <url>https://repo.fusesource.com/nexus/content/groups/public/</url>
            <layout>default</layout>
            <releases>
                <enabled>true</enabled>
                <updatePolicy>never</updatePolicy>
            </releases>
            <snapshots>
                <enabled>false</enabled>
                <updatePolicy>never</updatePolicy>
            </snapshots>
        </pluginRepository>
        <pluginRepository>
            <id>jboss-early-access-repository</id>
            <name>JBoss Early Access</name>
            <url>https://maven.repository.redhat.com/earlyaccess/all/</url>
            <layout>default</layout>
            <releases>
                <enabled>true</enabled>
                <updatePolicy>daily</updatePolicy>
            </releases>
            <snapshots>
                <enabled>false</enabled>
                <updatePolicy>daily</updatePolicy>
            </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

  <activeProfiles>
    <!-- Activation of the Fuse profile -->
    <activeProfile>def</activeProfile>
    <activeProfile>fis-online-repos</activeProfile>
  </activeProfiles>

  <servers>
    <server>
      <id>libs-snapshot</id>
      <username>snapshot</username>
      <password>snapshot</password>
    </server>
  </servers>

</settings>
